<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>.A</key>
	<array>
		<string>A'</string>
		<string>Aacute</string>
		<string>uni0202</string>
		<string>Adieresis</string>
	</array>
	<key>.Abreve</key>
	<array>
		<string>Abreve'</string>
		<string>Agrave</string>
		<string>Atilde</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Acircumflex</string>
	</array>
	<key>.Aring</key>
	<array>
		<string>Aring'</string>
		<string>uni0200</string>
	</array>
	<key>.B</key>
	<array>
		<string>B'</string>
		<string>germandbls</string>
	</array>
	<key>.Cacute</key>
	<array>
		<string>Cacute'</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Cdotaccent</string>
		<string>Ccircumflex</string>
	</array>
	<key>.D</key>
	<array>
		<string>D'</string>
		<string>Eth</string>
		<string>Dcaron</string>
	</array>
	<key>.E</key>
	<array>
		<string>E'</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>uni0204</string>
		<string>uni0206</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Ecircumflex</string>
	</array>
	<key>.Gbreve</key>
	<array>
		<string>Gbreve'</string>
		<string>uni01F4</string>
		<string>Gdotaccent</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
	</array>
	<key>.H</key>
	<array>
		<string>H'</string>
		<string>I</string>
		<string>J</string>
		<string>M</string>
		<string>N</string>
		<string>T</string>
		<string>i</string>
		<string>j</string>
		<string>IJ</string>
		<string>ij</string>
		<string>bar</string>
		<string>one</string>
		<string>Hbar</string>
		<string>Iacute</string>
		<string>Ibreve</string>
		<string>Igrave</string>
		<string>Itilde</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ntilde</string>
		<string>Tcaron</string>
		<string>iacute</string>
		<string>ibreve</string>
		<string>igrave</string>
		<string>itilde</string>
		<string>Imacron</string>
		<string>Iogonek</string>
		<string>imacron</string>
		<string>iogonek</string>
		<string>uni01ca</string>
		<string>uni01cb</string>
		<string>uni0208</string>
		<string>uni0209</string>
		<string>uni020A</string>
		<string>uni020B</string>
		<string>uni021A</string>
		<string>uni0237</string>
		<string>dotlessi</string>
		<string>Idieresis</string>
		<string>idieresis</string>
		<string>paragraph</string>
		<string>Idotaccent</string>
		<string>exclamdown</string>
		<string>Hcircumflex</string>
		<string>Icircumflex</string>
		<string>Jcircumflex</string>
		<string>icircumflex</string>
		<string>jcircumflex</string>
		<string>Ncommaaccent</string>
		<string>Tcommaaccent</string>
	</array>
	<key>.K</key>
	<array>
		<string>K'</string>
		<string>Kcommaaccent</string>
	</array>
	<key>.L</key>
	<array>
		<string>L'</string>
		<string>Lacute</string>
		<string>uni01c7</string>
		<string>Lcommaaccent</string>
	</array>
	<key>.O</key>
	<array>
		<string>O'</string>
		<string>Q</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ograve</string>
		<string>Otilde</string>
		<string>Omacron</string>
		<string>uni020C</string>
		<string>uni020E</string>
		<string>Odieresis</string>
		<string>copyright</string>
		<string>registered</string>
		<string>Ocircumflex</string>
		<string>Ohungarumlaut</string>
	</array>
	<key>.Racute</key>
	<array>
		<string>Racute'</string>
		<string>uni0210</string>
	</array>
	<key>.Rcaron</key>
	<array>
		<string>Rcaron'</string>
		<string>uni0212</string>
		<string>Rcommaaccent</string>
	</array>
	<key>.Sacute</key>
	<array>
		<string>Sacute'</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>.U</key>
	<array>
		<string>U'</string>
		<string>Uring</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ugrave</string>
		<string>Utilde</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>uni0214</string>
		<string>uni0216</string>
		<string>Udieresis</string>
		<string>Ucircumflex</string>
		<string>Uhungarumlaut</string>
	</array>
	<key>.Y</key>
	<array>
		<string>Y'</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>.Zacute</key>
	<array>
		<string>Zacute'</string>
		<string>Zcaron</string>
		<string>Zdotaccent</string>
	</array>
	<key>.aring</key>
	<array>
		<string>aring'</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>agrave</string>
		<string>atilde</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>uni0201</string>
		<string>uni0203</string>
		<string>adieresis</string>
		<string>acircumflex</string>
	</array>
	<key>.b</key>
	<array>
		<string>b'</string>
		<string>thorn</string>
	</array>
	<key>.c</key>
	<array>
		<string>c'</string>
		<string>cacute</string>
		<string>cdotaccent</string>
	</array>
	<key>.ccaron</key>
	<array>
		<string>ccaron'</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
	</array>
	<key>.comma</key>
	<array>
		<string>comma'</string>
		<string>period</string>
		<string>ellipsis</string>
	</array>
	<key>.d</key>
	<array>
		<string>d'</string>
		<string>dcroat</string>
		<string>gbreve</string>
		<string>uni01F5</string>
		<string>gcedilla</string>
		<string>gdotaccent</string>
		<string>gcircumflex</string>
	</array>
	<key>.ecaron</key>
	<array>
		<string>ecaron'</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>ecircumflex</string>
	</array>
	<key>.g</key>
	<array>
		<string>g'</string>
		<string>q</string>
	</array>
	<key>.h</key>
	<array>
		<string>h'</string>
		<string>m</string>
		<string>n</string>
		<string>hbar</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ntilde</string>
		<string>uni01CC</string>
		<string>hcircumflex</string>
		<string>ncommaaccent</string>
	</array>
	<key>.k</key>
	<array>
		<string>k'</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>.lacute</key>
	<array>
		<string>lacute'</string>
		<string>lcommaaccent</string>
	</array>
	<key>.oacute</key>
	<array>
		<string>oacute'</string>
		<string>obreve</string>
		<string>ograve</string>
		<string>otilde</string>
		<string>omacron</string>
		<string>uni020D</string>
		<string>uni020F</string>
		<string>odieresis</string>
		<string>ocircumflex</string>
		<string>ohungarumlaut</string>
	</array>
	<key>.quotedbl</key>
	<array>
		<string>quotedbl'</string>
		<string>asciicircum</string>
		<string>quotesingle</string>
	</array>
	<key>.quoteleft</key>
	<array>
		<string>quoteleft'</string>
		<string>quoteright</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
	</array>
	<key>.racute</key>
	<array>
		<string>racute'</string>
		<string>rcaron</string>
		<string>uni0211</string>
		<string>uni0213</string>
		<string>rcommaaccent</string>
	</array>
	<key>.sacute</key>
	<array>
		<string>sacute'</string>
		<string>scedilla</string>
	</array>
	<key>.scaron</key>
	<array>
		<string>scaron'</string>
		<string>scircumflex</string>
		<string>scommaaccent</string>
	</array>
	<key>.u</key>
	<array>
		<string>u'</string>
		<string>uring</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ugrave</string>
		<string>utilde</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
		<string>udieresis</string>
		<string>ucircumflex</string>
		<string>uhungarumlaut</string>
	</array>
	<key>.uni01C4</key>
	<array>
		<string>uni01C4'</string>
		<string>uni01F1</string>
	</array>
	<key>.uni01C5</key>
	<array>
		<string>uni01C5'</string>
		<string>uni01F2</string>
	</array>
	<key>.uni01C6</key>
	<array>
		<string>uni01C6'</string>
		<string>uni01F3</string>
	</array>
	<key>.y</key>
	<array>
		<string>y'</string>
		<string>yacute</string>
	</array>
	<key>.z</key>
	<array>
		<string>z'</string>
		<string>zacute</string>
		<string>zcaron</string>
		<string>zdotaccent</string>
	</array>
	<key>@MMK_L_A_Left</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_L_B_Left</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_H_Left</key>
	<array>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_O_Left</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_L_P_Left</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_R_Left</key>
	<array>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_L_S_Left</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_L_T_Left</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_L_U_Left</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_L_V_Left</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W_Left</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_L_X_Left</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y_Left</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_L_k_Left</key>
	<array>
		<string>k</string>
		<string>kcommaaccent</string>
		<string>kgreenlandic</string>
	</array>
	<key>@MMK_L_n_Left</key>
	<array>
		<string>h</string>
		<string>hbar</string>
		<string>hcircumflex</string>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_o_Left</key>
	<array>
		<string>b</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_L_r_Left</key>
	<array>
		<string>r</string>
		<string>racute</string>
		<string>rcaron</string>
		<string>rcommaaccent</string>
		<string>uni0211</string>
		<string>uni0213</string>
	</array>
	<key>@MMK_L_t_Left</key>
	<array>
		<string>t</string>
		<string>tcaron</string>
		<string>uni021B</string>
	</array>
	<key>@MMK_L_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w_Left</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_L_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
	<key>@MMK_R_A_Right</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Abreve</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Amacron</string>
		<string>Aogonek</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>uni0200</string>
		<string>uni0202</string>
	</array>
	<key>@MMK_R_H_Right</key>
	<array>
		<string>D</string>
		<string>Dcaron</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecaron</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Edotaccent</string>
		<string>Egrave</string>
		<string>Emacron</string>
		<string>Eogonek</string>
		<string>F</string>
		<string>H</string>
		<string>Hcircumflex</string>
		<string>K</string>
		<string>Kcommaaccent</string>
		<string>L</string>
		<string>Lacute</string>
		<string>Lcaron</string>
		<string>Lcommaaccent</string>
		<string>M</string>
		<string>N</string>
		<string>Nacute</string>
		<string>Ncaron</string>
		<string>Ncommaaccent</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>R</string>
		<string>Racute</string>
		<string>Rcaron</string>
		<string>Rcommaaccent</string>
		<string>Thorn</string>
		<string>uni01F1</string>
		<string>uni0204</string>
		<string>uni0206</string>
		<string>uni0210</string>
		<string>uni0212</string>
	</array>
	<key>@MMK_R_O_Right</key>
	<array>
		<string>C</string>
		<string>Cacute</string>
		<string>Ccaron</string>
		<string>Ccedilla</string>
		<string>Ccircumflex</string>
		<string>Cdotaccent</string>
		<string>G</string>
		<string>Gbreve</string>
		<string>Gcircumflex</string>
		<string>Gcommaaccent</string>
		<string>Gdotaccent</string>
		<string>O</string>
		<string>OE</string>
		<string>Oacute</string>
		<string>Obreve</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Ohungarumlaut</string>
		<string>Omacron</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
		<string>uni01F4</string>
		<string>uni020C</string>
		<string>uni020E</string>
	</array>
	<key>@MMK_R_S_Right</key>
	<array>
		<string>S</string>
		<string>Sacute</string>
		<string>Scaron</string>
		<string>Scedilla</string>
		<string>Scommaaccent</string>
	</array>
	<key>@MMK_R_T_Right</key>
	<array>
		<string>T</string>
		<string>Tcaron</string>
		<string>uni021A</string>
	</array>
	<key>@MMK_R_U_Right</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ubreve</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>Uhungarumlaut</string>
		<string>Umacron</string>
		<string>Uogonek</string>
		<string>Uring</string>
		<string>Utilde</string>
		<string>uni0214</string>
		<string>uni0216</string>
	</array>
	<key>@MMK_R_V_Right</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W_Right</key>
	<array>
		<string>W</string>
	</array>
	<key>@MMK_R_Y_Right</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ydieresis</string>
	</array>
	<key>@MMK_R_a_Right</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>abreve</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>ae</string>
		<string>agrave</string>
		<string>amacron</string>
		<string>aogonek</string>
		<string>aring</string>
		<string>atilde</string>
		<string>uni0201</string>
		<string>uni0203</string>
	</array>
	<key>@MMK_R_n_Right</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>nacute</string>
		<string>ncaron</string>
		<string>ncommaaccent</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_R_o_Right</key>
	<array>
		<string>c</string>
		<string>cacute</string>
		<string>ccaron</string>
		<string>ccedilla</string>
		<string>ccircumflex</string>
		<string>cdotaccent</string>
		<string>d</string>
		<string>dcaron</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecaron</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>edotaccent</string>
		<string>egrave</string>
		<string>emacron</string>
		<string>eogonek</string>
		<string>eth</string>
		<string>o</string>
		<string>oacute</string>
		<string>obreve</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>oe</string>
		<string>ograve</string>
		<string>ohungarumlaut</string>
		<string>omacron</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>q</string>
		<string>uni0205</string>
		<string>uni0207</string>
		<string>uni020D</string>
		<string>uni020F</string>
	</array>
	<key>@MMK_R_u_Left</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ubreve</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>uhungarumlaut</string>
		<string>umacron</string>
		<string>uni0215</string>
		<string>uni0217</string>
		<string>uogonek</string>
		<string>uring</string>
		<string>utilde</string>
	</array>
	<key>@MMK_R_v_Left</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w_Left</key>
	<array>
		<string>w</string>
	</array>
	<key>@MMK_R_y_Left</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ydieresis</string>
	</array>
</dict>
</plist>
